* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*PAGE SECTIONS*/

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /*padding: 20px;
  padding-left: 40px;
  padding-right: 40px;*/
  padding: 20px 40px;
  /* margin-bottom: 60px; */
  height: 80px;
}

nav {
  font-size: 18px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

/*SMALLER ELEMENTS*/

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 16px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*Misconception, this wont work*/
articlep: first-child {
  color: red;
}

/*Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  font-weight: bold;
  color: orangered;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
/*LVHA*/

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
}

.post-img {
  width: 100%;
  height: auto;
}

button {
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/*Resolving conflicts*/
/*#copyright {
  color: red;
}

.copright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}*/

h1::first-letter {
  font-style: normal;
  right-margin: 5px;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 16px;
  font-weight: bold;
  background-color: #ffe70e;
  color: #444;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/*h3 + p::first-line {
  color: red;
}
*/

/* FLOATS */
/*
.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

article {
  width: 825px;
  float: left;
}
aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}
*/

/*FLEXBOX*/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0px;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  font-style: normal;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.related-author {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  font-style: italic;
}

/*FLEXBOX LAYOUT*/
/*
.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
}

article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
}
*/

/* CSS GRID LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  grid-column: 1 / -1;
}

article {
}

aside {
}

footer {
  grid-column: 1 / -1;
  /* background-color: #1098ad; */
}
